= form_for [@user, @word] do |f|
  -if @word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@word.errors.count, "error")} prohibited this word from being saved:"
      %ul
        - @word.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :phrase
    = f.text_field :phrase
  .actions
    = f.submit 'Save'
