%h1 Listing credentials

%table
  %tr
    %th Email
    %th Password
    %th Developer token
    %th
    %th
    %th

  - @credentials.each do |credential|
    %tr
      %td= credential.email
      %td= credential.password
      %td= credential.developer_token
      %td= link_to 'Show', credential
      %td= link_to 'Edit', edit_credential_path(credential)
      %td= link_to 'Destroy', credential, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Credential', new_credential_path
