%p#notice= notice

%p
  %b Email:
  = @credential.email
%p
  %b Password:
  = @credential.password
%p
  %b Developer token:
  = @credential.developer_token

= link_to 'Edit', edit_credential_path(@credential)
\|
= link_to 'Back', credentials_path
